---
import { basics } from '@cv';
import Section from '@/components/Section.astro';
import Mail from '@/components/icons/Mail.astro';
import Phone from '@/components/icons/Phone.astro';
import X from '@/components/icons/X.astro';
import Linkedin from '@/components/icons/LinkedIn.astro';
import WorldMap from '@/components/icons/WorldMap.astro';
import Github from '@/components/icons/GitHub.astro';

interface Props {
    basics: typeof basics;
}

const { name, label, image, email, phone, location: { city, region }, profiles } = Astro.props.basics;

const SOCIALS: Record<string, any> = {
    X,
    Linkedin,
    Github
}

const linkedinInfo = profiles.find(({ network }) => network === 'Linkedin');
const linkedinUrl = linkedinInfo?.url;

const printInfo = [email, phone, linkedinUrl].filter(Boolean).join(' • ');
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {region}
            </span>
            <footer class="print">
                {printInfo}
            </footer>
            <footer class="no-print">
                {
                    email && 
                        <a 
                            href={`mailto:${email}`} 
                            title={`Send email to ${name} al correo ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail />
                        </a>
                }
                {
                    phone && 
                        <a 
                            href={`tel:${phone}`} 
                            title={`Call ${name} to number ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Phone />
                        </a>
                }
                {
                    profiles.map(({ network, url, username}) => {
                        const Icon = SOCIALS[network];
                        return (
                            <a 
                                href={url} 
                                title={`Visit ${username} on ${network}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon />
                            </a>
                        )
                    })
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        color: #444;
        font-weight: 500;
        font-size:  1.1rem;
        text-wrap: balance;
    }

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 128px;
        border-radius: 16px;
    }

    span {
        color: #666;
        display: flex;
        align-items: center;
        gap: .25rem;
        font-size: .85rem;
        letter-spacing: -0.05rem;
    }

    footer {
        color: #555;
        font-size: 0.65rem;
        display: flex;
        gap: 4px;
        margin-top: 8px;
    }

    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all .3s ease;
    }

    footer a:hover {
        background: #eee;
        border: 1px solid #ddd;
    }
</style>